@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "vars";
@import "mixins";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    @include flex_between();
    margin-top: 50px;
    margin-bottom: 50px;
    &__nav {
        @include flex_center(40px); 
        &__link {
            color: $color_text;
            @include font_jost(20px);
        }       
    }
   
}

.banner {
    display: flex;
    align-items: center;
    height: 760px;
    background-image: url(/hw01/maket/img/banner.png);
    background-repeat: no-repeat;
    background-position: center; 
    
    &__figure {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 434px;
        margin-left: 40px;
        &__title {
            color: $color_text;
            @include font_DM(65px);
        }
        &__text {
            color: $color_text_third; 
            @include font_jost(22px);
        }
        &__button {
            @include flex_center(20px);
            width: 220px;
            height: 75px;
            border-radius: 20px;
            background-color: #292F36;
            &__text {
                @include font_jost_semiBold(18px);
                color: #fff;
            }
        }
        &__button:hover {
            background-color: $color_text_brown;
            transition: 0.3s;
            border-color: $color_text_brown;
        }
    }
}

.project {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;

    &__title {
        @include font_DM(50px);
        color: $color_text;
    }

    &__text {
        margin-bottom: 100px;

        &__span {
            @include font_jost(22px);
            color: $color_text_third;
            margin-bottom: 100px;
        }
    }

    
    &__cards {
        display: flex;
        gap: 98px;
        flex-wrap: wrap;
        

        &__item {
            display: flex;
            flex-direction: column;
            gap: 24px;

            &__info {
                display: flex;
                justify-content: space-between;

                &__left {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;

                    &__title {
                        @include font_DM(25px);
                        color: $color_text;   
                    }

                    &__text {
                        @include font_jost(22px);
                        color: $color_text_third;
                    }
                }

                &__button {
                    width: 70px;
                    border-radius: 50%;
                    border-color: transparent;
                }

                &__button:hover {
                    background-color: $color_text_brown;
                    transition: 0.3s;
                }
            }

        }
        
        

    }


}

.counter {
    display: flex;
    justify-content: center;
    height: 457px;
    background-color: $color_background;
    margin-top: 100px;
    margin-bottom: 100px;

    &__wrapper {
        @include flex_center(0px);
    }
}

.counter__item {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    &__num {
        @include font_DM(85px);
        color: $color_text_brown;
    }

    &__text {
        @include font_jost(22px);
        color: $color_text_second;
    }
    
}

.border {
    border-right: 1px solid $color_text_brown;
}